.social {
    display: flex;
    align-items: center;
    gap: 14px;
}

.social a {
    text-decoration: none;
    border-radius: 50%;
    border: 2.4px solid #f0f0f0;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.social a:first-child {
    color: #0058e4;
    border-color: #0058e4;
    box-shadow: 0 0 20px #0058e4;
}

.social a:nth-child(2) {
    color: #b700ff;
    border-color: #b700ff;
    box-shadow: 0 0 20px #b700ff;
}

.social a:nth-child(3) {
    color: #ee2a7b;
    border-color: #ee2a7b;
    box-shadow: 0 0 20px #ee2a7b;
}

.social a:nth-child(4) {
    color: #1da1f2;
    border-color: #1da1f2;
    box-shadow: 0 0 20px #1da1f2;
}

.social a:nth-child(5) {
    color: #0866ff;
    border-color: #0866ff;
    box-shadow: 0 0 20px #0866ff;
}

.social a:nth-child(6) {
    color: #08ff08;
    border-color: #08ff08;
    box-shadow: 0 0 20px #08ff08;
}

.social-item {
    height: 32px;
    width: 32px;
    font-size: 16px;

    @media (min-width: 600px) {
        height: 42px;
        width: 42px;
        font-size: 21px;
    }
}