/* styling progress bars section */
.skills-box {
    background: rgb(0, 0, 44);
    color: white;
}

.purple-text {
    color: rgb(180, 99, 255);
}

/* styling linear progress bars*/
.bars-container {
    max-width: 500px;
    width: 100%;
    padding: 10px 20px;
}

.skill-box {
    width: 100%;
    margin: 18px 0;
}

.skill-box .icon-HTML {
    color: #e34c26;
}

.skill-box .icon-CSS {
    color: #2091EB;
}

.skill-box .icon-JS {
    color: #f0db4f;
}

.skill-box .icon-React {
    color: #61dbfb;
}

.skill-box .icon-Express,
.skill-box .icon-Next {
    color: white;
}

.skill-box .icon-Node {
    color: #3c873a;
}

.skill-box .icon-SQL {
    color: #6e6c6c;
}

.skill-box .icon-Mongo {
    color: #07AC4F;
}

.title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.skill-bar {
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 6px;
}

.skill-per {
    position: relative;
    display: block;
    height: 100%;
    /* width: 90%; */
    background-color: rgb(180, 99, 255);
    border-radius: 6px;
}

.MERN {
    width: 70%;
}

.HTML {
    width: 90%;
}

.CSS {
    width: 80%;
}

.JS {
    width: 65%;
}

.SQL {
    width: 35%;
}

.Next {
    width: 40%;
}

.skill-per .tooltip {
    position: absolute;
    opacity: 1;
    right: -14px;
    top: -24px;
    background-color: black;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 6px;
    color: white;
    border-radius: 3px;
    z-index: 0;
}

.run-bar-animation {
    animation: bar-progress 3s ease-out forwards;
    opacity: 0;
}

@keyframes bar-progress {
    0% {
        width: 0%;
    }

    100% {
        opacity: 1;
    }
}

/* styling circular bars */
.circles-container {
    padding: 10px 20px;
}

.circular-progress {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: #f0ff;
    border-radius: 50%;
    background: conic-gradient(rgb(180, 99, 255) 3.6deg, #000 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.circular-progress::before {
    content: '';
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: rgb(0, 0, 44);
    border-radius: 50%;
}

.circular-progress .progress-value {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: rgb(180, 99, 255);
}

.progress-text {
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
}